cpt/
mt3-pytorch/
wandb/
*.pyc
cpt
mid
*.mid
*.midi
*.musicxml
img
*.png
debug-wandb
runs-debug
runs
.hydra


data/slakh2100
others

data/RQ
data/AlignmentTool
outputs
data/asap-dataset
data/MAESTRO
evaluation/MUSTER
evaluation/ASAP*
evaluation/ER/*
score
test



evaluation/**/*.csv
evaluation/**/*.json
evaluation/**/*.tex

.vscode

checkpoints
*.musicxml.txt
preview
midi_align
*.score.mid
*.mid
*.score.json
dataset/asap-dataset/cache
dataset/asap-dataset-note-alignment/*
